<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jurusan Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="../shuffle-for-tailwind.png" />
    <script src="../js/main.js"></script>
    <script type="module" src="../js/fetch.js"></script>
  </head>

  <body class="antialiased bg-body text-body font-body">
    <section class="bg-coolGray-50 py-4">
        <div class="overflow-hidden border border-coolGray-100 rounded-md shadow-dashboard">
          <div class="overflow-x-auto">
            <table class="w-full" id="TabelJurusan">
              <tr class="whitespace-nowrap h-11 bg-coolGray-50 bg-opacity-80 border-b border-coolGray-100">
                <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left">
                  <div class="flex items-center">
                    <input class="mr-3 w-4 h-4 bg-white rounded" type="checkbox" />
                    <p>Kode Jurusan</p>
                  </div>
                </th>
                <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">Nama</th>
                <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">Jenjang</th>
                <th class="whitespace-nowrap font-semibold text-xs text-coolGray-500 uppercase text-center"></th>
              </tr>

              <!-- ISI TABEL DARI SINI (BUAT pada FILE tabel.js) -->

              <!-- ISI TABEL SAMPAI DISINI (BUAT pada FILE tabel.js) -->
            </table>
          </div>
        </div>
      </div>
    </section> 
   
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../js/charts-demo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
</html>
